<!-- <p>list-pokemon works!</p> -->

<div class="container">
  <div class="row">
    <div *ngFor="let pokemon of pokemonList" class="col m4 s6 l4">
      <div (click)="goToPokemon(pokemon)" class="card horizontal pointer" pkmnBorderCard >
        <div class="card-image">
          <img [src]="pokemon.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ pokemon.name }}</p>
            <p>
              <small>{{ pokemon.created | date: "dd/MM/yy hh:mm" }}</small>
            </p>
            <span
              class="{{ type | pokemonTypeColor }}"
              *ngFor="let type of pokemon.types"
            >
              {{ type }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
